:root {
  --blue: #3EA1DB;
  --blue-dark: #574AE8;
  --white: #FFF;

  --title: #313131;
  --text: #B6B6B6;
  
  --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}

* {
  box-sizing: boder-box;
  padding: 0;
  margin: 0;
}

html, body, .container{
  width: 100%;
  height: 100%;
}

body{
  background-color:#F9F9F9;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  width: 100%;
  background: var(--linear);
  height: 26%;

  display: flex;
  justify-content: center;
  align-items: center;

  max-height: 250px;
}

header #header {
  display: flex;
  flex-direction: column;

  width: 90%;
  max-width: 900px;
  height: 67%;
}

header #header p{
  color: var(--white);
  font-family: Lexend Deca;
}

header #logo{
  display: flex;
  justify-content: space-between;

  font-size: 24px;
}

header #header #input {
  display: flex;
  align-items: center; 
  justify-content: flex-start;

  margin-top: auto;
  
  height: 38.5%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;

}

header #input img {
  padding-left: 20px;
  margin-top: 1px;
}

header #input input {
  box-sizing: border-box;
  border: none;
  background: none;

  font-family: Inter;
  font-size: 18px;

  padding-left: 20px;

  height: 100%;
  width: 100%;
}

header #input input::-webkit-search-cancel-button {
  display: none;
}

header #input input:focus{
  box-shadow: 0 0 0 0;
  outline: 0;

  color: var(--white);
}

header #input input::placeholder {
  color: var(--white);
  opacity: 50%;
  font-size: 18px;

  font-family: Inter;

}

#posts{
  width: 90%;
  height: 74%;
  max-width: 900px;
}

#posts article {
  background-color: #313131;
  width: 100%;
}


